/* ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//// BASIC WEBPAGE FORMATTING ////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

/* Set the height of the webpage to 100% of the screen height. */
html {
    height: 100%;
}

/* Set the margins to 0 on the top and bottom and whatever the difference 
of the width of the screen size and the body section is. "!important" is 
used to override the settings made in "bootstrap.min.css". */
* {
    margin: 0 auto 0 auto !important;
}

/* Set the width of the body so it only takes up a defined part of the 
screen. Set the background image to be a nice picture I found online. */
body {
    width: 1000px;
    background-image: url('https://image.freepik.com/free-vector/futuristic-coronavirus-covid-19-seamless-pattern-with-virus-cells-dark-blue-background_67515-968.jpg');
}

/* ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//// NAVIGATION BAR FORMATTING ///////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

/* Set the borders and font specifications for the makeshift navigation 
bar at the top of the webpage. */
#header {
    border-left-style: solid;
    border-right-style: solid;
    font-family: 'Garamond', sans-serif;
    font-size: 1.20em;
}

/* Set the specifications for navigation bar links to other webpages. */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list elements to the left so that they line up nicely. */
li {
    float: left;
}

/* Set the padding of the GIF image in the leftmost corner of the 
navigation bar so it lines up nicely. */
#icon {
    padding: 8px 16px;
}

/* Set the specifications for the title portion of the navigation bar. */
#title {
    padding: 14px 16px;
    color: white;
    text-align: center;
}

/* Set the specifications for the portion of the navigation bar that has 
my name. */
#name {
    float: right;
    padding: 14px 16px;
    color: white;
    text-align: center;
}

/* Set the specifications for list elements and links so that they look 
nice. */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

/* Set the color of links when hovered over. As mentioned earlier, 
"!important" is used to set this specification with the highest priority 
compared to other CSS files. */
a:hover {
    color: #FF748C !important;
}

/* Set some extra padding for headers. */
h2 {
    padding-top: 5px;
}

/* ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//// MAIN WEBPAGE CONTENT FORMATTING /////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

/* Set the specifications for the main body of the webpage. This includes 
padding, background, and font specifications. */
#content {
    padding: 10px 12px 0px 12px !important;
    background-color: #D8D8D8;
    border-left-style: solid;
    border-right-style: solid;
    font-family: 'Verdana', sans-serif;
    font-size: 0.90em;
    line-height: 1.5;
}

/* Set the decoration of links to have no underlining. */
#link {
    text-decoration: none;
}

/* Set the color of links when hovered over. */
#link:hover{
    color: #FF748C;
}

/* ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//// DROPDOWN BUTTON FORMATTING //////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

/* Set the specifications for the dropdown button. "!important" is used 
to override settings made in other CSS files. */
.drop_button {
    padding: 2px 2px 2px 2px !important;
    border: 1px solid black !important;
    font-size: 12px !important;
}

/* Set the specifications for the dropdown button. "!important" is used 
to override settings made in other CSS files. */
.dropdown_button {
    padding-top: 5px !important;
    position: relative !important;
    display: inline-block !important;
    overflow: visible !important;
} 

/* Set the specifications for the content of the dropdown button. 
"!important" is used to override settings made in other CSS files. */
.dropdown_button_content {
    position: absolute !important;
    display: none !important;
    z-index: 1 !important;
}

/* Set the specifications for the dropdown button content when hovered 
over. "!important" is used to override settings made in other CSS files. */
.dropdown_button:hover .dropdown_button_content {
    display: block !important;
}

/* Set the specifications for the dropdown button when hovered over. 
"!important" is used to override settings made in other CSS files. */
.dropdown_button:hover .drop_button {
    background-color: #FF748C !important;
}

/* ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//// WORLD MAP VISUALIZATION FORMATTING //////////////////////////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

/* Set the padding of the world map div to provide suitable spacing. */
#world_map {
    padding-bottom: 510px;
}

/* Set the position of the container for div containing the total cases
and deaths divs. NOTE: This is a repeating style used throughout this 
file. The basic concept is to set the z-index of the first div in the 
stack (i.e. the first world map) to 1 so that it's shown. When a button 
for a particular div is clicked, it will change the currently-shown div's 
z-index to 0 and the desired div's z-index to 1. This is similar to 
shuffling a card to the front of a stack. */
.total_cases_and_deaths_container{
    position: relative;
    z-index: 0;
} 

/* Set the specifications for the button that shows the total cases world 
map. */
#total_cases_button {
    white-space: nowrap;
    padding: 2px 8px 2px 2px;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#total_cases_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the total deaths world 
map. */
#total_deaths_button {
    white-space: nowrap;
    padding: 2px 2px 2px 2px;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#total_deaths_button:hover {
    background-color: #FF748C;
}

/* Initializing the total cases world map div to be shown (i.e. z-index of 
1). Position is absolute so that it's centered according to the container 
it's inside of. */
.total_cases {
    position: absolute;
    z-index: 1;
}

/* Initializing the total deaths world map div to be hidden (i.e. z-index 
of 0). */
.total_deaths {
    position: absolute;
    z-index: 0;
}

/* ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//// RAW CASES AND DEATHS VISUALIZATION FORMATTING ///////////////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

/* Aligning the div containing the visualizations to the center of the 
webpage. */
#raw_cases_and_deaths_container {
    text-align: center;
}

/* Aligning the cases visualiation so that it sits to the left of the 
deaths visualization. */
#raw_cases {
    display: inline-block;
    text-align: left;
}

/* Aligning the deaths visualiation so that it sits to the right of the 
cases visualization. */
#raw_deaths {
    display: inline-block;
    text-align: left;
}

/* ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//// BUBBLE CHART VISUALIZATION FORMATTING ///////////////////////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

/* Set the padding of the bubble chart div to provide suitable spacing. */
#bubble_chart {
    padding-bottom: 510px;
}

/* Set the position of the container for div containing the bubble chart 
divs. This follows the "card-shuffling" theme present in the world map div 
above. */
.bubble_chart_container{
    position: relative;
    z-index: 0;
} 

/* Set the specifications for the button that shows the median age div. */
#median_age_button {
    padding: 2px 23px 2px 2px;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#median_age_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the aged 65 or older 
div. */
#aged65_older_button {
    padding: 2px 33px 2px 2px;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#aged65_older_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the cardiovascular 
death rate div. */
#cardiovas_deaths_button {
    padding: 2px 4px 2px 2px;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#cardiovas_deaths_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the diabetes 
prevalence div. */
#diabetes_prev_button {
    padding: 2px 40px 2px 2px;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#diabetes_prev_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the smokers div. */
#smokers_button {
    padding: 2px 41px 2px 2px;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#smokers_button:hover {
    background-color: #FF748C;
}

/* Initializing the median age div to be shown (i.e. z-index of 1). 
Position is absolute so that it's centered according to the container 
it's inside of. */
.median_age {
    position: absolute;
    z-index: 1;
}

/* Initializing the aged 65 or older div to be hidden (i.e. z-index 
of 0). */
.aged65_older {
    position: absolute;
    z-index: 0;
}

/* Initializing the cardiovascular death rate div to be hidden (i.e. 
z-index of 0). */
.cardiovas_deaths {
    position: absolute;
    z-index: 0;
}

/* Initializing the diabetes div to be hidden (i.e. z-index of 0). */
.diabetes_prev {
    position: absolute;
    z-index: 0;
}

/* Initializing the smokers div to be hidden (i.e. z-index of 0). */
.smokers {
    position: absolute;
    z-index: 0;
}

/* ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//// PROPORTIONATE CASES AND DEATHS VISUALIZATION FORMATTING /////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

/* Aligning the div containing the visualizations to the center of the 
webpage. */
#prop_cases_and_deaths_container {
    text-align: center;
}

/* Aligning the proportionate cases visualiation so that it sits to the 
left of the deaths visualization. */
#prop_cases {
    display: inline-block;
    text-align: left;
}

/* Aligning the proportionate deaths visualiation so that it sits to the 
right of the cases visualization. */
#prop_deaths {
    display: inline-block;
    text-align: left;
}

/* ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//// PROPORTIONATE BAR CHARTS VISUALIZATION FORMATTING ///////////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

/* Setting padding for the bar charts div container */
#prop_barcharts {
    padding-left: 100px;
    padding-bottom: 510px;
}

/* Setting the position and z-index of the bar charts container so that 
it's centered on the webpage. */
.prop_barcharts_container {
    position: relative;
    z-index: 0;
} 

/* Set the specifications for the button that shows the proportionate 
median age cases div. */
#propcases_medianage_button {
    padding: 2px 29px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
    text-align: left;
}

/* Set the background color when this button is hovered over. */
#propcases_medianage_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the proportionate 
aged 65 or older cases div. */
#propcases_aged65older_button {
    padding: 2px 39px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#propcases_aged65older_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the proportionate 
cardiovascular death rate cases div. */
#propcases_cardiovas_button {
    padding: 2px 10px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#propcases_cardiovas_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the proportionate 
diabetes prevalence cases div. */
#propcases_diabetes_button {
    padding: 2px 46px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#propcases_diabetes_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the proportionate 
smokers cases div. */
#propcases_smokers_button {
    padding: 2px 45px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#propcases_smokers_button:hover {
    background-color: #FF748C;
}

/* Initializing the proportionate median age cases div to be shown (i.e. 
z-index of 1). Position is absolute so that it's centered according to 
the container it's inside of. */
.propcases_medianage_bar {
    position: absolute;
    z-index: 1;
}

/* Initializing the proportionate aged 65 or older cases div to be hidden 
(i.e. z-index of 0). */
.propcases_aged65older_bar {
    position: absolute;
    z-index: 0;
}

/* Initializing the proportionate cardiovascular death rate cases div to 
be hidden (i.e. z-index of 0). */
.propcases_cardiovas_bar {
    position: absolute;
    z-index: 0;
}

/* Initializing the proportionate diabetes prevalence cases div to be 
hidden (i.e. z-index of 0). */
.propcases_diabetes_bar {
    position: absolute;
    z-index: 0;
}

/* Initializing the proportionate smokers cases div to be hidden (i.e. 
z-index of 0). */
.propcases_smokers_bar {
    position: absolute;
    z-index: 0;
}

/* Set the specifications for the button that shows the proportionate 
median age deaths div. */
#propdeaths_medianage_button {
    padding: 2px 22px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#propdeaths_medianage_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the proportionate 
aged 65 or older deaths div. */
#propdeaths_aged65older_button {
    padding: 2px 32px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#propdeaths_aged65older_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the proportionate 
cardiovascular death rate deaths div. */
#propdeaths_cardiovas_button {
    padding: 2px 3px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#propdeaths_cardiovas_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the proportionate 
diabetes prevalence deaths div. */
#propdeaths_diabetes_button {
    padding: 2px 39px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#propdeaths_diabetes_button:hover {
    background-color: #FF748C;
}

/* Set the specifications for the button that shows the proportionate 
smokers deaths div. */
#propdeaths_smokers_button {
    padding: 2px 39px 2px 2px;
    white-space: nowrap;
    font-size: 12px;
}

/* Set the background color when this button is hovered over. */
#propdeaths_smokers_button:hover {
    background-color: #FF748C;
}

/* Initializing the proportionate median age deaths div to be hidden 
(i.e. z-index of 0). */
.propdeaths_medianage_bar {
    position: absolute;
    z-index: 0;
}

/* Initializing the proportionate aged 65 or older deaths div to be 
hidden (i.e. z-index of 0). */
.propdeaths_aged65older_bar {
    position: absolute;
    z-index: 0;
}

/* Initializing the proportionate cardiovascular death rate deaths div 
to be hidden (i.e. z-index of 0). */
.propdeaths_cardiovas_bar {
    position: absolute;
    z-index: 0;
}

/* Initializing the proportionate diabetes prevalence deaths div to be 
hidden (i.e. z-index of 0). */
.propdeaths_diabetes_bar {
    position: absolute;
    z-index: 0;
}

/* Initializing the proportionate smokers deaths div to be hidden (i.e. 
z-index of 0). */
.propdeaths_smokers_bar {
    position: absolute;
    z-index: 0;
}